.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore IntelliJ projects
.idea
.settings/org.eclipse.jdt.core.prefs

# Ignore Eclipse projects
.project

# Ignore classpath
.classpath

# Ignore Gradle build output directory
build
bin

# Credentials
gradle.properties
signing.key