name: Release

on:
  release:
    types: [published]

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Publish to Maven
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run Tests
        run: |
          ./gradlew test --info

      - name: Publish
        env:
          MAVEN_SIGNING_KEY: ${{ secrets.MAVEN_SIGNING_KEY }}
          NEXUS_SIGNING_PASSWORD: ${{ secrets.NEXUS_SIGNING_PASSWORD }}
          MAVEN_USER_NAME: ${{ secrets.MAVEN_USER_NAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}

        run: |
          echo $MAVEN_SIGNING_KEY | base64 --decode > signing.key

          cat << EOF > gradle.properties
          signingPassword=${NEXUS_SIGNING_PASSWORD}
          myNexusUsername=${MAVEN_USER_NAME}
          myNexusPassword=${MAVEN_PASSWORD}
          EOF

          ./gradlew publishToMyNexus closeAndReleaseMyNexusStagingRepository -Prelease
